$bgColor: #29253b;
$bgGradient: radial-gradient(circle at 0 0, #262336 30%, #29253b 40%);
$bgShape: url(../images/dark/combined-shape.png) center repeat;
$bgButton: linear-gradient(286deg, #ff0844 0%, #e0a020 70%);
$bgButtonHover: linear-gradient(286deg, #e0a020 0%, #ff0844 70%);

$mainFontColor: #fff;
$hFontColor:#fff;
$secondFontColor: #8f8f9c;

$promoSmallColor: #fff;

$smallSize: 768px;

$fontFamilyMain: 'Chivo';
$fontFamilyH: Arial, Helvetica, sans-serif;

$pathLogo: '../images/dark/logo.png';
$pathTopRight: '../images/dark/right-top.png';
$pathCenterLeft: '../images/dark/left-center.png';
$pathBottom: '../images/right-bottom.png';

$cardLayer1: #2c293a;
$cardLayer2: #343143;
$cardLayer3: #3d394f;
$cardShadow: none;

$formShadow: none;
$formGradient: linear-gradient(344deg, #343143 87%, #3d394f);

$bgInput: #3d394f;

$bgSmallMenuColor: #29253b;