$bgColor: #fff;
$bgGradient: none;
$bgShape: url(../images/light/combined-shape.png) center repeat;
$bgButton: linear-gradient(286deg, #ff0844 0%, #e0a020 70%);
$bgButtonHover: linear-gradient(286deg, #e0a020 0%, #ff0844 70%);

$mainFontColor: #fff;
$hFontColor:#343744;
$secondFontColor: #8f8f9c;

$promoSmallColor: #fff;

$smallSize: 768px;

$fontFamilyMain: 'Chivo';
$fontFamilyH: Arial, Helvetica, sans-serif;

$pathLogo: '../images/light/logo.png';
$pathTopRight: '../images/light/right-top.png';
$pathCenterLeft: '../images/light/left-center.png';
$pathBottom: '../images/right-bottom.png';

$cardLayer1: #e4e2f5;
$cardLayer2: #d7d6db;
$cardLayer3: #fff;
$cardShadow: 0 50px 100px 0 rgba(0, 43, 69, 0.1), 0 15px 35px 0 rgba(0, 43, 69, 0.15), 0 5px 15px 0 rgba(0, 0, 0, 0.15);

$formShadow: 0 50px 100px 0 rgba(0, 43, 69, 0.1), 0 15px 35px 0 rgba(0, 43, 69, 0.15), 0 5px 15px 0 rgba(0, 0, 0, 0.15);
$formGradient: linear-gradient(344deg, #fff 87%, #fff);

$bgInput: #ebe9fc;

$bgSmallMenuColor: #29253b;